# Ignore Markdown files in exercise folders
hello-world/*.md
lasagna/*.md
color-palette/*.md
inventory-management/*.md
black-jack/*.md
secrets/*.md
bird-watcher/*.md

*.o
*_test.c
*_test.o
tests/
tests
vendor/
.exercism/
*.json