# Ignore Markdown files in exercise folders
hello-world/*.md
lasagna/*.md
color-palette/*.md
inventory-management/*.md
black-jack/*.md
secrets/*.md
bird-watcher/*.md
freelancer-rates/*.md
mixed-juices/*.md
poetry-club-door-policy/*.md
lost-and-found/*.md
currency-exchange/*.md
need-for-speed/*.md

*.o
*_test.o
tests/
tests
vendor/
.exercism/
*.json