# Ignore Markdown files in exercise folders
hello-world/*.md
lasagna/*.md
color-palette/*.md
inventory-management/*.md
black-jack/*.md
secrets/*.md
bird-watcher/*.md
freelancer-rates/*.md
mixed-juices/*.md

*.o
*_test.o
tests/
tests
vendor/
.exercism/
*.json